node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
uploads/
*.log
.eslintcache
.parcel-cache
.cache/
.DS_Store
.idea/
.vscode/
out/
bin/
obj/
